<!DOCTYPE html>
<html data-mode="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
  
  <title>{{ title or "[new] Meeting" }}</title>
  <meta name="description" content="Quick, professional, hassle-free meeting minutes.">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  {{ content | safe }}
  
  <script src="/js/main.js"></script>
</body>
</html>
